.flash-card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    width: 16vw;
    height: 40vh;
    margin: 18px;
    cursor: pointer;
    border-radius: 2vh;
}

.flash-card.front {
    background-color: #3E76D5;
    color: white;
}

.flash-card.back {
    background-color: #568ae3;
    color: white;
}