.add {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 13vw;
    height: 24vh;
    background-color: #3e76d5;
    padding: 1vh;
    margin-top: 8vh;
    text-align: center;
    border-radius: 3vh;
}

.add > p {
    color: white;
    font-weight: 600;
    margin-top: 3vh;
    margin-bottom: 0.5vh;
}

.add > img {
    width: 9vw;
    margin-top: 1vh;
}
