.container {
    display: flex;
    flex-direction: column;
    margin: 0 3vw 0 3vw;
}

.titleText {
    padding: 20px 60px;
    color: #3E76D5;
    border-bottom: solid #3E76D5;
}

.enterTitleBox > p {
    color: #3E76D5;
    padding-left: 30px;
}

