.timerDiv{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 18vw;
    align-items: center;
}

.remainingTime{
    font-size: 7vh;
    font-weight: bold;
    text-align: center;    
}

.timerBtnContainer{
    display: flex;
    justify-content: space-evenly;
    gap: 1vw;
}

.timerBtn{
    background-color: #3E76D5;
    font-family: Montserrat;
    color: white;
    height: 5vh;
    width: 8vw;
    border: none;
    border-radius: 1vh;
    font-size: 1.8vh;
    font-weight: bold;
}

.successMessage {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #baffdd;
    border: 1px solid #00b460;
    color: #00b460;
    border-radius: 8px;
    margin: 2vh 0 0 0;
}
