.add {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 10vw;
    height: 27vh;
    background-color: #3e76d5;
    padding: 1vh;
    margin-top: 10vh;
    text-align: center;
    border-radius: 3vh;
}

.add > p {
    color: white;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 0.5vh;
}

.add > img {
    cursor: pointer;
    width: 7vw;
}
