.mainAssignmentContainer {
    grid-column: 3/13;
}

.openedAssignmentContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2vh;
    padding: 0vh 3vw;
}

.prevAndNextBtn {
    display: flex;
    justify-content: space-between;
    grid-column: 1/13;
}

.prevContainer {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1vw;
}

.nextContainer {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1vw;
}

.assignmentTextBox {
    grid-column: 1/11;
}

.assignmentTitle {
    color: #3E76D5;
}

.assignmentText>p {
    text-align: justify;
}

.timerContainer {
    grid-column: 12/13;
}