

.container{
    grid-template-columns: repeat(12,1fr);
    display: grid;
}

.logo{
    height: 20vw;
    width: 20vw;
    margin-bottom: 25px;
}

.logoBox{
    display: flex;
    grid-column: 6/8;
    justify-content: center;
}

.loginBox{
    border-radius: 10px;
    display: flex;
    grid-column: 5/9;
    background-color: #D9D9D9;
    flex-direction: column;
    height: 48vh;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 25px;
    margin-right: 25px;
}

.links{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -20px;
}
.links a{
    font-size: 18px;
    text-decoration: none;
    color: #5B87D1;
    font-weight: bold;
}

.label{
    color: #3E76D5;
    font-weight: bold;
    font-size: 20px;
}

.inputPhoto{
    height: 6.2vh;
    border-radius: 10px 0px 0px 10px;
}

.inputBox{
    display: flex;
}

.loginButton{
    border: 0;
    background-color: #3E76D5;
    color: white;
    font-size: 22px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.input{
    border: 0;
    height: 6vh;
    width: 18vw;
    font-size: 20px;
    border-radius: 0px 10px 10px 0px;
}