.descHeader {
    margin: 6vh 0 4vh 0;
}


.assignmentBox {
    display: flex;
    justify-content: space-between;
    background-color: #ECECEC;
    margin-bottom: 3vh;
    border-radius: 1.2vh;
    padding: 0vh 1vw;
    align-items: center;
    height: 6vh;

}

.assignmentListContainer {
    grid-column: 3/13;
    padding: 0 7vw;
}

.assignmentBox a {
    text-decoration: none;
    color: #3E76D5;

}

.assignmentBox:hover {
    outline: #3E76D5 2px solid;
}