.divButton {
    display: flex;
    justify-content: end;
    margin-top: 5vh;
    align-items: center;

}

.button {
    width: 7vw;
    height: 6vh;
    background-color: #3E76D5;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 2vh;
    font-weight: bold;
}