.definitionBox {
    background-color: #ECECEC;
    border-radius: 0 0 4vh 4vh;
    padding: 0.8vh 4vh 1.5vw 1.5vw;
}

.definitionBox > h2 {
    color: #3E76D5;
}

.inputDefinition {
    width: 60vw;
    height: 5vh;
    font-size: 15px;
    color: #3E76D5;
    border: none;
    border-radius: 2vh;
    padding-left: 1vw;
}