.divAddButton {
    display: flex;
    justify-content: end;
    margin-top: 5vh;
    margin-bottom: 2vh;
    align-items: center;
}

.addButton {
    width: 13vw;
    height: 6vh;
    background-color: #3E76D5;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 2vh;
    font-weight: bold;
    font-size: 1.1vw;
}