footer {
    color: white;
    background-color: #3E76D5;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    grid-column: 1/13;
}

.icons {
    display: flex;
    gap: 30px;
}

.icons a {
    text-decoration: none;
    color: white;
}

.footerLink {
    list-style: none;
}

.footerLink a {
    color: white;
    text-decoration: none;
}

.lists {
    display: flex;
    gap: 60px;
}

.maybeFooter {
    grid-column: 1/13;
}
