.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    background-image: url("../../assets/images/circles.svg");
    background-size: cover;
    background-position: top;
    height: 90vh;
    grid-column: 3/13;
}

.notFound>img {
    width: 55vw;
}

.textOverlay {
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    font-size: 4vh;
}

.textOverlay>h1 {
    color: #3e76d5;
    margin-top: 15vh;
    margin-bottom: 0;
}

.textOverlay>h2 {
    margin-top: 2vh;
}

.textOverlay a {
    font-size: 3vh;
}

.textOverlay>a:hover {
    text-decoration: underline #3e76d5;
}