.container {
    grid-column: 3/13;
    padding: 0 7vw;
    margin-bottom: 5vh;
}

.setsContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.setsBox{
    grid-column: 2/11;
    margin-top: 10vh;
}